@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F8EDD9;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.books .book {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
}

.books .book img {
  width: 100%;
  border-radius: 8px;
}

.books .book h2 {
  color: #3b251f;
  margin-bottom: 0;
}

.books .book p {
  color: #93827e;
  margin-top: 8px;
  margin-bottom: 30px;
}

.books .book strong {
  color: #D2A882;
  font-size: 22px;
  font-weight: 900;
}

.books .book a {
  background-color: #D2A882;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #3b251f;
  font-weight: 700;
}

.gallery {
  margin: 50px 0;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-areas:
    "b1 b1 b2 b3"
    "b1 b1 b4 b5";
  gap: 10px;
}

.gallery div:nth-child(1) {
  grid-area: b1;
}

.gallery div:nth-child(2) {
  grid-area: b2;
}

.gallery div:nth-child(3) {
  grid-area: b3;
}

.gallery div:nth-child(4) {
  grid-area: b4;
}

.gallery div:nth-child(5) {
  grid-area: b5;
}

.gallery div {
  border: 1px solid #333;
  min-height: 100px;
  font-size: 22px;
}